BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: true
# 2000 is a workaround to keep "unlimited" column length, since 0 doesn't always work as expected.
# For the rationale behind the "unlimited" column length policy, please refer to CORE_DEVELOPMENT_GUIDELINE.md
ColumnLimit: 2000
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Attach
IndentWidth: 4
AccessModifierOffset: -4
IndentRequiresClause: false
AllowShortCompoundRequirementOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
MaxEmptyLinesToKeep: 1
AlwaysBreakTemplateDeclarations: true
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
InsertBraces: true
